<style type="text/css">
body {
	font-family: Tahoma, Geneva, sans-serif;
}
h1 {
	font-size: 24px;
	color: #0080FF;
}
h2 {
	font-size: 18px;
	background-color: #0080FF;
	padding: 7px;
	color: #FFF;
}
.codeSample {
	font-size: 14px;
	font-family: "Courier New", Courier, monospace;
	background-color: #CCC;
	padding: 5px;
	margin-right: 20px;
	margin-left: 20px;
}
.codeSample .codeComment {
	color: #C30;
}
.codeSample .codeOutput {
	color: #00F;
}
</style>
<h1>How to use class.Formatting.php (v1.0)</h1>
<p><em>Written by Osama Iqbal</em></p>
<blockquote>
  <p><em>a. Intro<br />
    1. The Cleaner<br />
    2. Format Province<br />
    3. Uppercase First<br />
    4. Truncate long paragraphs<br />
    5. Format long numbers or money<br />
    6. Format phone numbers<br />
    7. Friendly File Size Formats<br />
    8. Friendly URLS<br />
    9. Dates  </em></p>
</blockquote>
<h2>a. Intro</h2>
<p>In most of these methods they run through the cleaners, as I intended these methods to be run when doing MySQL INSERT or UPDATE commands. BUT they can be used however you like.</p>
<p> Make sure to include the class in your working file first.</p>
<p class="codeSample">&lt;?php <br />
  <br />
  include ('class.Format.php'); <br />
  <span class="codeComment">// Initalize the class</span><br />
  $format = new format();
  <br />
  <br />
?&gt;</p>
<h2>1. The Cleaner</h2>
<p>The cleaner is a standard method for cleaning. If you are putting anything into your database you want to run it through the cleaners first. It will help against errors, and outside users from trying to hack your database.</p>
<p class="codeSample">&lt;?php <br />
  <br />
  include ('class.Format.php'); <br />
  <span class="codeComment">// Initalize the class</span><br />
$format = new format();<br />
<br />
echo $format-&gt;cleanUp(&quot; The black cat, ate the hat &quot;);<br />
<span class="codeOutput">// OUTPUT-&gt; The black cat, ate the hat </span><br />
  <br />
?&gt;</p>
<h2>2. Format Province</h2>
<p>Formatting a province or state. Making sure your database is clean and accurate is key, even down to the simple tasks.</p>
<p>This method will make sure the capitalization of the words and acronyms are proper.</p>
<p class="codeSample">&lt;?php <br />
  <br />
  include ('class.Format.php'); <br />
  <span class="codeComment">// Initalize the class</span><br />
  $format = new format();<br />
  <br />
  echo $format-&gt;province(&quot;british columbia&quot;);<br />
  <span class="codeOutput">// OUTPUT-&gt; British Columbia<br />
  </span><br />
  echo $format-&gt;province(&quot;usa&quot;);<br />
  <span class="codeOutput">// OUTPUT-&gt; USA</span><br />
  <br />
  ?&gt;</p>
<h2>3. Uppercase First</h2>
<p>Uppercase first isn't anything new, but it will receive any word or sentence and conver each word to lowercase and then make the first letter of every word capitalized. This also automatically runs through the cleaner as well.</p>
<p class="codeSample">&lt;?php <br />
  <br />
  include ('class.Format.php'); <br />
  <span class="codeComment">// Initalize the class</span><br />
  $format = new format();<br />
  <br />
  echo $format-&gt;upperCaseFirst(&quot;british columbia&quot;);<br />
  <span class="codeOutput">// OUTPUT-&gt; British Columbia</span><br />
  <br />
  ?&gt;</p>
<h2>4. Truncate</h2>
<p>Truncate will turn those long paragraphs into short usefule tidbits for rendering to the screen.</p>
<p class="codeSample">&lt;?php <br />
  <br />
  include ('class.Format.php'); <br />
  <span class="codeComment">// Initalize the class</span><br />
  $format = new format();<br />
  <br />
  echo $format-&gt;truncate(&quot;This is a really long string that we only want to show a certain amount.&quot;, 21, &quot; (more)&quot;);<br />
  <span class="codeOutput">// OUTPUT-&gt; This is a really long (more)</span><br />
  <br />
  ?&gt;</p>
<h2>5. Money or Long numbers</h2>
<p>Formatting Money or Longer numbers is fairly basic, but the benefits are that it will run through the cleaners if neccessary without having to make those extra steps.</p>
<p class="codeSample">&lt;?php <br />
  <br />
  include ('class.Format.php'); <br />
  <span class="codeComment">// Initalize the class</span><br />
  $format = new format();<br />
  <br />
  echo $format-&gt;number(&quot;1000&quot;);<br />
  <span class="codeOutput">// OUTPUT-&gt; 1,000.00</span><br />
  <br />
  echo $format-&gt;number(&quot;1000&quot;, false);<br />
  <span class="codeOutput">// OUTPUT-&gt; 1,000</span><br />
  <br />
  ?&gt;</p>
<h2>6. Phone Numbers</h2>
<p>Formatting phone numbers is a pain. And I don't claim that this is the best out there, but it's a good start, if the number exceeds 11 numbers it will just return the 11 numbers to it's best ability.</p>
<p class="codeSample">&lt;?php <br />
  <br />
  include ('class.Format.php'); <br />
  <span class="codeComment">// Initalize the class</span><br />
  $format = new format();<br />
  <br />
  echo $format-&gt;phone(&quot;250.111.2222&quot;);<br />
  <span class="codeOutput">// OUTPUT-&gt; (250) 111-2222</span><br />
  <br />
  echo $format-&gt;phone(&quot;250-111-2222&quot;);<br />
  <span class="codeOutput">// OUTPUT-&gt; (250) 111-2222</span><br />
  <br />
  echo $format-&gt;phone(&quot;1-250-111-2222&quot;);<br />
  <span class="codeOutput">// OUTPUT-&gt; 1(250) 111-2222</span><br />
  <br />
  echo $format-&gt;phone(&quot;1-250-111-BABY&quot;);<br />
  <span class="codeOutput">// OUTPUT-&gt; 1(250) 111-2229</span><br />
  <br />
  echo $format-&gt;phone(&quot;1-250-111-2222&quot;, &quot;skype&quot;);<br />
  <span class="codeOutput">// OUTPUT-&gt; +12501112222</span><br />
  <span class="codeComment">// Example: &lt;a href=&quot;skype:+12501112222&quot;&gt;Call Using Skype&lt;/a&gt;</span><br />
<br />
  ?&gt;</p>
<h2>7. Human File Sizes</h2>
This helps to make reading file sizes easy on the eyes. It receives BYTES and outputs them into KB, MB, and GB formats.
<p class="codeSample">&lt;?php <br />
  <br />
  include ('class.Format.php'); <br />
  <span class="codeComment">// Initalize the class</span><br />
  $format = new format();<br />
  <br />
  echo $format-&gt;fileSize(&quot;1024&quot;);<br />
  <span class="codeOutput">// OUTPUT-&gt; 1 KB</span><br />
  <br />
  echo $format-&gt;fileSize(&quot;10000024&quot;);<br />
  <span class="codeOutput">// OUTPUT-&gt; 9.54 MB</span><br />
<br />
  ?&gt;</p>
<h2>8. Safe clickable URLs</h2>
If you ever save URLS into your database, making sure they are formatted properly can really help. Because if they don't render to the screen properly it will cause an error when someone tries to click your url.
<p class="codeSample">&lt;?php <br />
  <br />
  include ('class.Format.php'); <br />
  <span class="codeComment">// Initalize the class</span><br />
  $format = new format();<br />
  <br />
  echo $format-&gt;url(&quot;example.com&quot;);<br />
  <span class="codeOutput">// OUTPUT-&gt; http://example.com</span><br />
  <br />
  echo $format-&gt;url(&quot;www.example.com&quot;);<br />
  <span class="codeOutput">// OUTPUT-&gt; http://www.example.com</span><br />
  <br />
  ?&gt;</p>
<h2>9. Dates</h2>
Dates are fun to work with when it's easy to manipulate the rendered view. There are many more options when using the raw php format, but this has given me the ability to quickly and easily deal with formatting dates in my application.
<p class="codeSample">&lt;?php <br />
  <br />
  include ('class.Format.php'); <br />
  <span class="codeComment">// Initalize the class</span><br />
  $format = new format();<br />
  $dateTime, $showTime = TRUE, $human = TRUE<br />
  echo $format-&gt;humanDate(&quot;2011-04-07 02:10:39&quot;);<br />
  <span class="codeOutput">// OUTPUT-&gt; Thursday, April 07 - 2011 at 2:10am</span><br />
  <br />
  echo $format-&gt;humanDate(&quot;2011-04-07 02:10:39&quot;, false);<br />
  <span class="codeOutput">// OUTPUT-&gt; Thursday, April 07 - 2011</span><br />
  <br />
  echo $format-&gt;humanDate(&quot;2011-04-07 02:10:39&quot;);<br />
  <span class="codeOutput">// OUTPUT-&gt; 2011-04-07 02:10:39</span><br />
  <br />
  echo $format-&gt;humanDate(&quot;2011-04-07 02:10:39&quot;, false, false);<br />
  <span class="codeOutput">// OUTPUT-&gt; 2011-04-07</span><br />
  <br />
  ?&gt;</p>
<p></p>